h1{ color: rgb(42, 56, 73);
    
}
h4{
    color: rgb(80, 80, 88);
    font-style: italic;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-color: rgb(193, 194, 201);
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}



